# FRONT_END .ENV
# _______________________________________________________
# NUXT_SANCTUM_BASE_URL=https://api.chromavert.com
# NUXT_SANCTUM_ORIGIN=https://api.chromavert.com

# BACK_END .ENV
# _______________________________________________________

# APP LEVEL CONFIGURATION
APP_KEY=base64:kRQwnzu8BSIrkhhBUpwuXBlGg/vs6Mi4ZevjMdhUTks=
APP_NAME=Chromavert
APP_URL=https://api.chromavert.com

# FRONTEND CONFIGURATION
FRONTEND_URL=https://www.chromavert.com

# DATABASE CONFIGURATION
DATABASE_URL=${db.DATABASE_URL}
DB_CONNECTION=pgsql
DB_HOST=${db.HOSTNAME}
DB_PORT=${db.PORT}
DB_DATABASE=${db.DATABASE}
DB_USERNAME=${db.USERNAME}
DB_PASSWORD=${db.PASSWORD}

# AUTHENTICATION AND SECURITY CONFIGURATION
SANCTUM_STATEFUL_DOMAINS=https://www.chromavert.com
SESSION_DOMAIN=.chromavert.com

# SESSION CONFIGURATION
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/

# MAILSERVER CONFIGURATION
MAIL_MAILER=smtp
MAIL_HOST=sandbox.smtp.mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=0b7f1c45563113
MAIL_PASSWORD=c58c22c5c3affa
MAIL_ENCRYPTION=null
MAIL_FROM_ADDRESS=noreply@chromavert.com
MAIL_FROM_NAME=Chromavert

# GOOGLE CLIENT ID AND SECRET
GOOGLE_CLIENT_ID=889159042787-2772qd4s613vr6qmrajpfsbrdi1ksf5l.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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

# GITHUB CLIENT ID AND SECRET
GITHUB_CLIENT_ID=8e11e6f2b2be57ca5dba
GITHUB_CLIENT_SECRET=adfcda155869e95e26a7aac6b4d3b67582f45906

# OTHER CONFIGURATION
REDIRECT_ON_LOGOUT=/login
REDIRECT_ON_AUTH_ONLY=/
REDIRECT_ON_LOGIN=/
REDIRECT_ON_GUEST_ONLY=/
